
.header {
    background-color: var(--color-grisOscuro);
    height: 3.8rem;
    padding: 2rem;
}

.header__contenedor {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 10.5rem;
    height: 2.5rem;
}

.header__contenedor__botones {
    display: flex;
    gap: 1.56rem;
}
